<h1>New score</h1>

<%= render "form", score: @score %>

<br>

<div>
  <% if session[:from_page]%>
  <%= link_to "Back to scores", '/students/'+@score.student_id.to_s + '/edit_score' %>
  <% else %>
  <%= link_to "Back to scores", scores_path %>
  <%end%>
</div>
